.page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1 {
  width: 1200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.introduced {
  margin-top: 150px;
  opacity: 1;
  color: #000;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
}

.animation_box {
  width: 600px;
  height: 400px;
}

.flip-horizontal-bottom1 {
  animation: flip-horizontal-bottom1 .6s cubic-bezier(.455, .03, .515, .955) both
}
.flip-horizontal-bottom2 {
  animation: flip-horizontal-bottom2 1.2s cubic-bezier(.455, .03, .515, .955) both
}
.flip-horizontal-bottom3 {
  animation: flip-horizontal-bottom3 1.8s cubic-bezier(.455, .03, .515, .955) both
}
.flip-horizontal-bottom4 {
  animation: flip-horizontal-bottom4 2.4s cubic-bezier(.455, .03, .515, .955) both
}


@keyframes flip-horizontal-bottom1 {
  0% {
    opacity: 0;
    transform:rotateX(90deg) skewY(-5deg) translateZ(0)
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) skewY(0deg) translateZ(0px);
  }
}

@keyframes flip-horizontal-bottom2 {
  0% {
    opacity: 0;
    transform:rotateX(90deg) skewY(-5deg) translateZ(0)
  }
  50% {
    opacity: 0;
    transform:rotateX(90deg) skewY(-5deg) translateZ(0)
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) skewY(0deg) translateZ(0px);
  }
}
@keyframes flip-horizontal-bottom3 {
  0% {
    opacity: 0;
    transform:rotateX(90deg) skewY(-5deg) translateZ(0)
  }
  66% {
    opacity: 0;
    transform:rotateX(90deg) skewY(-5deg) translateZ(0)
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) skewY(0deg) translateZ(0px);
  }
}
@keyframes flip-horizontal-bottom4 {
  0% {
    opacity: 0;
    transform:rotateX(90deg) skewY(-5deg) translateZ(0)
  }
  75% {
    opacity: 0;
    transform:rotateX(90deg) skewY(-5deg) translateZ(0)
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) skewY(0deg) translateZ(0px);
  }
}